*.pyc
*.nsys-rep
*.egg-info

.vscode
.idea
__pycache__
node_modules
models/*
plots/*
model_registry/*
outputs/*
*/runs/*
*/logs/*
scratch/*
resources/*
!resources/prepare_resources.sh
!resources/vid2frames.py

/build
/install
/log
**/log.txt

src/vp_engine/build
src/vp_engine/install
src/vp_engine/log